body {
  background: #FFF;
  color: #555;
  font-family: monospace;
  font-size: 18px;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.container {
  margin: 0 auto;  /*max-width: 800px;*/
  padding: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}
.layer {
  opacity: 1.0;  /*width: 100%;*/

  /*height: auto;*/

  /*height: 100vh;*/

  /*width: auto;*/
}
.scene {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: -20px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px) {

  /* Styles */
  .scene {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width:321px) {

  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:320px) {

  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {

  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {

  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {

  /* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {

  /* Styles */
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2) {

  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width:1224px) {

  /* Styles */
  .scene {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70vw;
    height: 100vh;
    top: -20px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px) {

  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {

  /* Styles */
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2) {

  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2) {

  /* Styles */
}
/*
@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    -moz-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    transform: translate3d(5%, 0, 0) rotateZ(1deg);
  }
  100% {
    -webkit-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    -moz-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    transform: translate3d((5%, 0, 0) rotateZ(-1deg);
  }
}
@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    -moz-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    transform: translate3d(5%, 0, 0) rotateZ(1deg);
  }
  100% {
    -webkit-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    -moz-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    transform: translate3d((5%, 0, 0) rotateZ(-1deg);
  }
}
@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    -moz-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    transform: translate3d(5%, 0, 0) rotateZ(1deg);
  }
  100% {
    -webkit-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    -moz-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    transform: translate3d((5%, 0, 0) rotateZ(-1deg);
  }
}
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    -moz-transform: translate3d(5%, 0, 0) rotateZ(1deg);
    transform: translate3d(5%, 0, 0) rotateZ(1deg);
  }
  100% {
    -webkit-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    -moz-transform: translate3d((5%, 0, 0) rotateZ(-1deg);
    transform: translate3d((5%, 0, 0) rotateZ(-1deg);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}*/

.swingSteady {
  animation: swingSteady 2s linear 3;
}

@keyframes swingSteady {
  0% { transform: rotate3d(0, 1, 0, 0deg); }
  33% { transform: rotate3d(0, 1, 0, 360deg); }
  66% { transform: rotate3d(0, 1, 0, 720deg); }
  100% { transform: rotate3d(0, 1, 0, 1080deg); }
}

-