body {
  background: #EEE;
  color: #555;
  font-family: monospace;
  font-size: 18px;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.container {
  margin: 0 auto; 
  padding: 0;
  position: relative;
  top: 0px;
  left: 0px;
}
.layer {
  opacity: 1.0;  
}
.scene {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: -20px;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {
  margin: auto;
  background-color: orange;
  padding: 15px;
  vertical-align: middle;
}

.menu-container h1 {
  font-size: 1.5em;
}

.menu-container ul {
 list-style: none;
 margin: 0;
 padding: 0;
 /*text-align: right;*/
}

.menu-container ul li {
  line-height: 2;
}

.menu-container ul li a {
  color: dimgray;
  z-index: 99999;
}


.centered {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  z-index: 9999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.animated-cloud img {
  animation: animatedCloud 80s linear infinite;
  max-width: 500px;
  position: absolute;
  left: -500px;
  top: 200px;
  transform: perspective(500px) translate3d(-300px,25px,0px);
}

.animated-cloud-2 img {
  transform: perspective(500px) translate3d(200px,50px,100px);
  animation: animatedClouds 90s linear infinite reverse;
  min-width: 600px;
  position: absolute;
}

@keyframes animatedCloud {
  0% { left: 0; transform: perspective(500px) translate3d(-300px,25px,0px); }
  50% { left: 50%; transform: perspective(500px) translate3d(-125px,50px,100px); }
  100% { left: 100%; transform: perspective(500px) translate3d(75px,0px,100px); }
}

@keyframes animatedClouds {
  0% { left: 0; transform: perspective(500px) translate3d(-400px,50px,100px); }
  50% { left: 50%; transform: perspective(500px) translate3d(-200px,50px,100px); }
  100% { left: 100%; transform: perspective(500px) translate3d(50px,0,20px); }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px) {
  .scene {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 150vw;
    height: 100vh;
  }
  .spike {
    left: -25%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width:321px) {}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:320px) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {}

/**********
iPad 3
**********/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2) {}

/* Desktops and laptops ----------- */
@media only screen  and (min-width:1224px) {
  .scene {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70vw;
    height: 100vh;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px) { }

/* iPhone 4 ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2) {}

@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2) {}

/* iPhone 5 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2) {}