body {
  background: #FFF;
  color: #555;
  font-family: monospace;
  font-size: 18px;
  overflow-x: hidden;
  margin: 0; }

img {
  display: block;
  width: 100%; }

input[type=checkbox] {
  display: none; }

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0; }

button {
  background: #555;
  border: 10px solid #00ffaa;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 24px;
  height: 80px;
  left: 10%;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0 1.2em;
  position: absolute;
  text-align: right;
  top: 260px;
  width: 80%; }
  button:hover {
    background: #00ffaa; }

input[type=checkbox] + label:before {
  background: #555;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 1px;
  width: 16px; }

input[type=checkbox]:checked + label:before {
  background: #00ffaa; }

.container {
  margin: 0 auto;
  /*max-width: 800px;*/
  padding: 10px;
  position: relative; top: 0px; left: 0px;}

.container--offset {
  margin-left: 0; }

.scene {
  margin: 0;
  padding: 0; 
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: -20px; }

.scene2 {
  margin: 0;
  padding: 0; 
position: absolute; top: 0; left: 50px;}

.fill {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%; }

.expand-width {
  width: 100%; }

.border {
  border: 2px dashed #00ffaa; }

.aspect {
  opacity: 0.2; }

.layer {
  opacity: 1.0;
  /*width: 100%;*/
  /*height: auto;*/
  /*height: 100vh;*/
  /*width: auto;*/
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.lighthouse {
  -webkit-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
  -webkit-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin: 0px -64px;
  background-size: 500px 500px;
  height: 500px;
  width: 100%;
  background-image: url(./resources/img/wide/bird_sm_0.1.svg);
  background-repeat: no-repeat;
  bottom: 64px;
  position: absolute;
  right: 0; }


.wave {
  background: transparent repeat-x;
  position: absolute;
  width: 300%;
  left: -100%; }
  .wave:after {
    background-color: #000000;
    position: absolute;
    display: block;
    content: "";
    height: 500px;
    width: 100%;
    top: 100%;
    left: 0; }
  .wave.plain {
    background-image: url(../../images/wave-plain.png); }
  .wave.paint {
    background-image: url(../../images/wave-paint.png); }
/*div.layer.bird1 {
  left: -50px;
  top: 100px;
}*/
/*.layer:nth-child(1) {
  opacity: 0.15; }
  .layer:nth-child(1) button {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }

.layer:nth-child(2) {
  opacity: 0.3; }
  .layer:nth-child(2) button {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }

.layer:nth-child(3) {
  opacity: 0.45; }
  .layer:nth-child(3) button {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.layer:nth-child(4) {
  opacity: 0.6; }
  .layer:nth-child(4) button {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }

.layer:nth-child(5) {
  opacity: 0.75; }
  .layer:nth-child(5) button {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }

.layer:nth-child(6) {
  opacity: 0.9; }
  .layer:nth-child(6) button {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
*/


@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%,0,0) rotateZ(1deg);
    -moz-transform: translate3d(5%,0,0) rotateZ(1deg);
    transform: translate3d(5%,0,0) rotateZ(1deg); }
  100% {
    -webkit-transform: translate3d((5%,0,0) rotateZ(-1deg);
    -moz-transform: translate3d((5%,0,0) rotateZ(-1deg);
    transform: translate3d((5%,0,0) rotateZ(-1deg); } }
@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%,0,0) rotateZ(1deg);
    -moz-transform: translate3d(5%,0,0) rotateZ(1deg);
    transform: translate3d(5%,0,0) rotateZ(1deg); }
  100% {
    -webkit-transform: translate3d((5%,0,0) rotateZ(-1deg);
    -moz-transform: translate3d((5%,0,0) rotateZ(-1deg);
    transform: translate3d((5%,0,0) rotateZ(-1deg); } }
@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%,0,0) rotateZ(1deg);
    -moz-transform: translate3d(5%,0,0) rotateZ(1deg);
    transform: translate3d(5%,0,0) rotateZ(1deg); }
  100% {
    -webkit-transform: translate3d((5%,0,0) rotateZ(-1deg);
    -moz-transform: translate3d((5%,0,0) rotateZ(-1deg);
    transform: translate3d((5%,0,0) rotateZ(-1deg); } }
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%,0,0) rotateZ(1deg);
    -moz-transform: translate3d(5%,0,0) rotateZ(1deg);
    transform: translate3d(5%,0,0) rotateZ(1deg); }
  100% {
    -webkit-transform: translate3d((5%,0,0) rotateZ(-1deg);
    -moz-transform: translate3d((5%,0,0) rotateZ(-1deg);
    transform: translate3d((5%,0,0) rotateZ(-1deg); } }


@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } }
@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } }
@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } }
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } }
-